// 함수
// @function 함수이름(){처리로직}
// 함수이름은 $로 시작할 수 없으며, 그 외에서 변수 이름 규칙과 같다.

@function colorMake(){
    @return #FF0000;
}
@function fn1($p1,$p2){
    $var:10px;
    @return $var + $p1 + $p2;
}
.box{
    width: 100px; height: 100px; 
    border: fn1(10px,20px) solid #000; 
    background-color: colorMake(); // 함수 실행 : 함수의 값을 입력하면 함수가 실행된다. 🌟🌟
    color:rgba(#00f,0.5); // ❗❗ scss 에서만 사용할 수 있다.

    // 🌟 20% 밝게 하는 함수
    color:lighten(#00ff00,20) // : % 생략 가능 ❗❗
    // lighten = 밝게 한다, lightness = 어둡게 한다. 
}
