// 주석 ---> css로 컴파일 되지 않는다.

/* 주석문
만들기 --> css로 넘어간다. */

// 변수 만들기
// 변수는 $로 시작하여 '영문, 숫자, -, _'만을 사용할 수 있다.
// ❌ 숫자로 시작해서는 안된다.
$bg-color:#00f;
$var2:red;
$width:10;
$widthpx:10px;
$my-box:".box";
$bg-var:background;

h1{background-color: $bg-color;}

// 선택자를 변수로 만들때는 보간법을 사용해야 한다.
// 보간법이란 ? #{} 👉 인터폴레이션, 끼워넣는다는 뜻.
#{$my-box} {
    z-index: $width;
    font-size: $widthpx;
    width: #{$width}px;
    #{$bg-var}: $var2;
}