// μ£Όμ„ ---> cssλ΅ μ»΄νμΌ λμ§€ μ•λ”λ‹¤.

/* μ£Όμ„λ¬Έ
λ§λ“¤κΈ° --> cssλ΅ λ„μ–΄κ°„λ‹¤. */

// λ³€μ λ§λ“¤κΈ°
// λ³€μλ” $λ΅ μ‹μ‘ν•μ—¬ 'μλ¬Έ, μ«μ, -, _'λ§μ„ μ‚¬μ©ν•  μ μλ‹¤.
// β μ«μλ΅ μ‹μ‘ν•΄μ„λ” μ•λλ‹¤.
$bg-color:#00f;
$var2:red;
$width:10;
$widthpx:10px;
$my-box:".box";
$bg-var:background;

h1{background-color: $bg-color;}

// μ„ νƒμλ¥Ό λ³€μλ΅ λ§λ“¤λ•λ” λ³΄κ°„λ²•μ„ μ‚¬μ©ν•΄μ•Ό ν•λ‹¤.
// λ³΄κ°„λ²•μ΄λ€ ? #{} π‘‰ μΈν„°ν΄λ μ΄μ…, λΌμ›λ„£λ”λ‹¤λ” λ».
#{$my-box} {
    z-index: $width;
    font-size: $widthpx;
    width: #{$width}px;
    #{$bg-var}: $var2;
}